body {
  display: flex;
  background-color: #1B1C1D;
  flex-flow: column;
}

.spacer {
  flex: 1 1 auto;
}

.ui.segment {
  width: auto;
}

.ui.active.dimmer {
  transition: 1.0s;
}

.red-status {
  background-color: #db2828;
}

.green-status {
  background-color: #21ba45;
}

.yellow-status {
  background-color:  #fbbd08;
}

.header {
  font-weight: bold;
}

.description {
  color: rgba(255, 255, 255, 0.65);
}
